/******** Over-arching styles ********/

body {
	background: #6F6F91;
	color: #000;
	padding: 60px 0;
	font-family: 'Alegreya', serif;
	font-size: 16px;
}

h1, h2, h3, h4 {
	font-variant: small-caps;
}

abbr {
	text-decoration: none !important;
}

/********* Header **********/

header{
	margin: 0 100px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: rgba(201, 181, 139, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
	border-radius: 0 0 10px 10px;
	z-index: -1;
}

header h1 {
	margin: 0;
	padding: 10px 0;
}

header img {
	float: left;
}

header img:last-child {
	float: right;
	margin: -60px 0 0;
}

/********* Content **********/

.middle-body {
	z-index: 1;
}

.full-content {
	background-color: rgba(180, 175, 145, .8);
}

h2 {
	background-color: #787746;
	border-radius: 5px;
	max-width: 250px;
	margin: 5px auto 0;
	padding: 5px;
}

h3 {
	background-color: #787746;
	border-radius: 50%;
	color: #B4AF91;
}

.bio {
	margin: 20px 40px 10px;
}

/********* Github table styling **********/

.github {
	font-size: 12px;
}

.github td a {
	color: #000;
}

.github td a:visited {
	color: #B469C0;
}

.github td a:hover {
	border-top: 1px;
	border-left: 1px;
	border-color: #fff;
	border-style: inset;
}

.github td a:active {
	background-color: #B4AF91;
	border-radius: 10px;
}

.github tr:nth-child(2n+2) {
	background-color: #40411E;
}

/********* List styling **********/

ul li{
	padding: 0 0 0 10px;
}

/********* Gallery **********/

table img {
	max-width: 250px;
	max-height: 250px;
	margin: 50px;
}

/********* Footer **********/

footer {
	margin: 0 100px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: rgba(201, 181, 139, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
	border-radius: 10px 10px 0 0;
}

footer a {
	text-decoration: none;
	color: #000;
}

/********* Media queries **********/

@media all and (max-width: 768px){
	.full-content {background-color: rgba(79, 69, 53, 0.88);
	}
}

@media screen and (max-width: 768px){
	.github td {text-align: center;}
}
/********* Animation Fun **********/

@keyframes color-strobe {
	0% {border: 1px solid #000;}
	50% {border: 1px solid #fff;}
	100% {border: 1px solid #000;}
}

.strobe {
	animation-name: color-strobe;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes from-the-right {
	0% {left: 3000px;}
	100% {left: 0;}
}

.from-the-right {

	position: relative;
	animation-name: from-the-right;
	animation-duration: 5s;
}
